@media (max-width: 768px) {
.header{
  
  &__official{
    display: none;
  }
  } 
.promo{
  min-height: 100%;
  &__wrapper{
    margin-top: 35px;
  }
} 
}
@media (max-width: 550px){
.header{
  flex-wrap: wrap;
  justify-content: center;
}
.promo{
  padding-bottom: 30px;

  &__header{
    text-align: center;
    font-size: 36px;
  }
  &__subheader{
    text-align: center;
    font-size: 20px;
  }
  &__icons{
    margin-top: 30px;
    width: 100%;
  }
}
.button_main{
  margin-top: 30px;
}
.benefits{
  padding: 30px 0 30px 0;
  &__items{
    margin-top: 30px;
  }
}
}
@media (max-width: 550px){
.header{
  &__contacts{
    margin-top: 15px;
  }
}
.benefits{
  &__items{
    flex-wrap: wrap;
  }
  &__item{
    margin: 10px auto;
  }
}
.consultation{
  padding: 30px 0 30px 0;
  min-height: 100%;
  &__descr{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.title_left{
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.feed-form{
  margin: 20px auto;
}
}